<h1>Edit Booking</h1>

<form action="/bookings/<%= @booking.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<label>Title: </label>
	<input type="text" name="title" value="<%= @booking.title%>"><br>
	<input type="submit" value="Update Booking">
</form>